<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <div class="form-group">
    <%= f.label :first_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, class: 'form-control',
        placeholder: 'John', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, class: 'form-control',
        placeholder: 'Doe', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.email_field :email, class: 'form-control',
        placeholder: 'john@acme.com', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.phone_field :phone, class: 'form-control',
        value: number_to_phone(@user.phone, area_code: true),
        placeholder: '(888) 555-1212', pattern: '^\D*(?:\d\D*){10}$' %>
    </div>
  </div>

  <% if can? :manage, @user %>
    <div class="form-group">
      <%= f.label :roles, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.fields_for :roles do |roles| %>
          <% User.valid_roles.sort.each do |role| %>
            <div class="checkbox">
              <%= roles.label role do %>
                <%= roles.check_box role, checked: @user.is?(role) %>
                <%= role.to_s.humanize %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit @user.new_record? ? 'Create user' : 'Save profile',
      class: 'btn btn-primary',
        data: {
          disable_with: @user.new_record? ? 'Creating user…' : 'Saving profile…'
        } %>
      <%= link_to 'Cancel', @user.new_record? ? :users : @user,
        class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
