<% user = locals.fetch(:user) %>

<div class="well">
  <div class="page-header">
    <h1>
      <%= user == current_user ? 'My Profile' : user.name %>
      <% if user.suspended? %><small>Suspended</small><% end %>
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <dl class="dl-horizontal">
        <dt>First name</dt>
        <dd><%= user.first_name %></dd>

        <dt>Last name</dt>
        <dd><%= user.last_name %></dd>

        <dt>Email</dt>
        <dd><%= mail_to user.email %></dd>

        <dt>Phone</dt>
        <dd><%= dash number_to_phone user.phone, area_code: true %></dd>

        <% if can? :manage, user %>
          <dt>Roles</dt>
          <dd><%= roles(user) %></dd>

          <dt>ID</dt>
          <dd><%= user.id %></dd>

          <dt>Created</dt>
          <dd><%= user.created_at %></dd>

          <dt>Updated</dt>
          <dd><%= user.updated_at %></dd>
        <% end %>
      </dl>
    </div>

    <div class="col-sm-3">
      <%= image_tag user.image_url, class: 'pull-right',
        style: 'max-width: 100%; margin-bottom: 15px' if user.image_url %>
    </div>
  </div>

  <%= link_to 'Edit profile', edit_user_path(user),
    class: 'btn btn-primary' if can? :edit, user %>

  <% if user.suspended? %>
    <%= link_to 'Unsuspend', unsuspend_user_path(user), method: :put,
      class: 'btn btn-success',
      data: {
        confirm: "Unsuspend #{user}'s account?",
        disable_with: "Unsuspending…"
      } if can? :unsuspend, user %>
  <% else %>
    <%= link_to 'Suspend', suspend_user_path(user), method: :put,
      class: 'btn btn-warning',
      data: {
        confirm: "Suspend #{user}'s account?",
        disable_with: "Suspending…"
      } if can? :suspend, user %>
  <% end %>

  <%= link_to 'Destroy', user, method: :delete,
    class: 'btn btn-danger',
    data: {
      confirm: "Destroy #{user}'s account?",
      disable_with: "Destroying…"
    } if can?(:destroy, user) && user.commitments.empty? %>
</div>
