<% user = locals.fetch(:user) %>

<div class="well">
  <div class="page-header">
    <h1>
      <%= user.name %>
      <% if user.suspended? %><small>Suspended</small><% end %>
    </h1>
  </div>

  <dl class="dl-horizontal">
    <% if can? :manage, user %>
      <dt>ID</dt>
      <dd><%= user.id %></dd>
    <% end %>

    <dt>Email</dt>
    <dd><%= mail_to user.email %></dd>

    <% if can? :manage, user %>
      <dt>Created</dt>
      <dd><%= user.created_at %></dd>

      <dt>Updated</dt>
      <dd><%= user.updated_at %></dd>
    <% end %>
  </dl>

  <% if user.suspended? %>
    <%= link_to 'Unsuspend', unsuspend_user_path(user), method: :put,
      class: 'btn btn-success', data: { confirm: "Unsuspend user #{user}?" } if
        can? :unsuspend, user %>
  <% else %>
    <%= link_to 'Suspend', suspend_user_path(user), method: :put,
      class: 'btn btn-warning', data: { confirm: "Suspend user #{user}?" } if
        can? :suspend, user %>
  <% end %>

  <%= link_to 'Destroy', user, method: :delete,
    class: 'btn btn-danger', data: { confirm: "Destroy user #{user}?" } if
      can? :destroy, user %>
</div>
