<h3>Good morning <%= @user.first_name %>,</h3>

<% if @commitments.any? %>
  <p class="lead">
    You have <%= pluralize @commitments.count, 'National' %> coming in today:
  </p>

  <ul>
    <% in_display_order(@commitments).each do |c| %>
      <li><strong><%= c.display_text %> – </strong> <%= c.user.name %></li>
    <% end %>
  </ul>
<% else %>
  <p class="lead">No Nationals are signed up for today, but here's a random quote:</p>

  <p class="callout">
    "<%= @quote[:quoteText].strip %>"
    <br>―<strong><%= @quote[:quoteAuthor].strip %></strong>
  </p>
<% end %>
