<div class="well">

  <h1>Identities</h1>

  <table class="generic">
    <thead>
      <tr>
        <th>ID</th>
        <th>Provider</th>
        <th>Name</th>
        <th>Email</th>
        <th>Email Trusted</th>
        <th>User</th>
      </tr>
    </thead>

    <tbody>
      <% @identities.each do |identity| %>
        <tr>
          <td><%= link_to identity.id, identity %></td>
          <td><%= identity.provider %></td>
          <td><%= identity.name %></td>
          <td><%= identity.email %></td>
          <td><%= bool_icon identity.email_trusted? %></td>
          <td><%= identity.user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
