<div class="well">
  <h1>Identity <%= @identity.id %></h1>

  <% if @identity.user.nil? %>
    <div class="well">
      <h3>User</h3>
      <% if @suggested_users.any? %>
        <p>Suggestions:</p>
        <ul>
          <% @suggested_users.each do |user| %>
            <li><%= "#{user.id}: #{user.name} (#{user.email})" %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_for @identity do |f| %>
        <p>
          <%= f.collection_select :user_id, User.all.order(:last_name), :id,
            -> (user) { "#{user.id}: #{user.name} (#{user.email})" },
            { prompt: '', order: :name }, required: true %>
        </p>
        <%= f.submit 'Assign user', class: 'btn btn-primary', data: {
          confirm: 'Assign identity to user?',
          disable_with: 'Assigning user…'
        } %>
      <% end %>
    </div>
  <% end %>

  <%= render 'shared/versions_table', locals: {
    object: @identity,
    exclude: :image_url
  } %>

  <%= link_to 'Back', identities_path, class: 'btn btn-default' %>
  <%= link_to 'Destroy', @identity, method: :delete,
    data: { confirm: "Are you sure?\n\nRemember to delete in Auto0 too!" },
    class: 'btn btn-danger' %>
</div>
