<div class="identity well">
  <div class="page-header">
    <h1>Identity <%= @identity.id %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt>ID</dt>
    <dd><%= @identity.id %></dd>

    <dt>Provider</dt>
    <dd><%= @identity.provider %></dd>

    <dt>Name</dt>
    <dd><%= dash @identity.name %></dd>

    <dt>Email</dt>
    <dd><%= @identity.email %></dd>

    <dt>Email Trusted</dt>
    <dd><%= bool_icon @identity.email_trusted? %></dd>

    <dt>User</dt>
    <dd>
      <% if @identity.user %>
        <% if can? :show, @identity.user %>
          <%= link_to @identity.user, @identity.user %>
        <% else %>
          <%= @identity.user %>
        <% end %>
      <% else %>
        --
      <% end %>
    </dd>

    <dt>Created</dt>
    <dd><%= @identity.created_at %></dd>

    <dt>Updated</dt>
    <dd><%= @identity.updated_at %></dd>
  </dl>

  <% if @identity.user.nil? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User</h3>
      </div>

      <%= form_for @identity do |f| %>
        <div class="panel-body">
          <% if @suggested_users.any? %>
            <p>Suggestions:</p>
            <ul class="suggested-users">
              <% @suggested_users.each do |user| %>
                <li>
                  <%= link_to "#{user.id}: #{user.name} (#{user.email})", '#',
                    data: { user_id: user.id } %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <p>
            <%= f.collection_select :user_id, User.all.order(:last_name), :id,
              -> (user) { "#{user.id}: #{user.name} (#{user.email})" },
              { prompt: '', order: :name }, required: true %>
          </p>
        </div>

        <div class="panel-footer">
          <%= f.submit 'Assign user', class: 'btn btn-primary', data: {
            confirm: 'Assign identity to user?',
            disable_with: 'Assigning user…'
          } %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= link_to 'Back', identities_path, class: 'btn btn-default' %>
  <%= link_to 'Destroy', @identity, method: :delete,
    data: { confirm: "Are you sure?\n\nRemember to delete in Auto0 too!" },
    class: 'btn btn-danger' if can? :destroy, @identity %>
</div>

<div class="identity well">
  <%= render 'shared/versions_table', locals: {
    object: @identity,
    exclude: :image_url
  } %>
</div>
