<div class="panel panel-default my-days">

  <div class="panel-heading">
    <h2 class="panel-title">My Days <small><%= @season %></small></h2>
  </div>

  <div class="panel-body">
    <% if locals.fetch(:commitments).present? %>
      <ul class="commitment-list">
        <% locals.fetch(:commitments).each do |commitment| %>
          <li>
            <span class="label label-<%= commitment.bootstrap_class_suffix %>"
                  ><%= commitment.display_text %></span>
            <%= link_to commitment.date.strftime('%A, %-m/%-d/%y'),
              commitments_path(date: commitment.date),
              class: ('current' if locals.fetch(:date) == commitment.date) %>
            <%= link_to commitment_path(commitment), method: :delete, data: {
                  confirm: "Do not #{uncapitalize commitment.display_verb} " \
                           "on #{commitment.date.strftime('%A, %-m/%-d/%y')}?"
                } do %>
              <span class="glyphicon glyphicon-remove-circle cancel"
                    data-toggle="tooltip" data-placement="right"
                    title="Take me off the list"></span>
            <% end unless frozen?(commitment) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="none">None</p>
    <% end %>
  </div>
</div>
