<div class="panel panel-default day">

  <div class="panel-heading">
    <h2 class="panel-title"><%= locals[:date].strftime('%A, %-m/%-d/%y') %></h2>
  </div>

  <div class="panel-body">
    <% if locals.fetch(:commitments).present? %>
      <ul class="commitment-list">
        <% locals.fetch(:commitments).each do |commitment| %>
          <li>
            <span class="label label-<%= commitment.bootstrap_class_suffix %>"
                  ><%= commitment.display_text %></span>
            <%= commitment.user.name %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="none">Nobody</p>
    <% end %>
  </div>

  <div class="panel-footer">
    <div class="actions">
      <% if locals.fetch(:my_commitment) %>
        <div class="action" data-toggle="tooltip" data-placement="left"
             title="<%= 'Too late to cancel' if frozen?(locals.fetch(:date)) %>"
             >
          <%= link_to commitment_path(locals.fetch(:my_commitment)),
            method: :delete, class: 'btn btn-default', data: {
              disable_with: 'Taking you off the list…',
              confirm: "Do not #{uncapitalize locals.fetch(:my_commitment).display_verb} " \
                       "on #{locals.fetch(:my_commitment).date.strftime('%A, %-m/%-d/%y')}?"
            }, disabled: frozen?(locals.fetch(:date)) do %>
            <% if frozen?(locals.fetch(:date)) %>
              <span class="glyphicon glyphicon-lock"></span>
            <% end %>
            Take me off the list
          <% end %>
        </div>
      <% else %>
        <div class="action" data-toggle="tooltip" data-placement="left"
             title="<%= locals.fetch(:date) > Date.today ?
               "Can't sign up for #{locals.fetch(:date).strftime('%Y')} yet" :
               'Too late to sign up' if
                 unavailable?(locals.fetch(:date)) %>">
          <%= button_tag type: :button, class: 'btn btn-primary',
            data: { toggle: 'modal', target: '#signupModal' },
            disabled: unavailable?(locals.fetch(:date)) do %>
            <% if unavailable?(locals.fetch(:date)) %>
              <span class="glyphicon glyphicon-lock"></span>
            <% end %>
            Sign up
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
