<%
  date = locals.fetch(:date)
  my_commitment = locals.fetch(:my_commitment)
  commitments = locals.fetch(:commitments)
%>

<div class="page-header visible-print-block">
  <h1>
    National Schedule
    <small><%= Time.now.strftime('as of %-l:%M%P, %-m/%-d/%y') %></small>
  </h1>
</div>

<div class="panel panel-default day">

  <div class="panel-heading">
    <h2 class="panel-title">
      <%= date.strftime('%A, %-m/%-d/%y') %>
      <%= link_to 'javascript:window.print()', id: 'print-schedule',
        class: 'pull-right hidden-xs hidden-print', title: 'Print schedule',
        style: 'margin-left: .5em' do %>
        <span class="glyphicon glyphicon-print"></span>
      <% end %>
    </h2>
  </div>

  <div class="panel-body">
    <% if commitments.present? %>
      <ul class="commitment-list">
        <% in_display_order(commitments).each do |commitment| %>
          <li>
            <span class="label label-<%= commitment.bootstrap_class_suffix %>"
                  ><%= commitment.display_text %></span>
            <span class="visible-print-inline">
              <%= commitment.user.name %>
            </span>
            <%= link_to commitment.user.name, commitment.user,
              class: 'hidden-print' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="none">Nobody</p>
    <% end %>
  </div>

  <% if my_commitment %>
    <div class="panel-footer hidden-print">
      <div class="actions">
        <div class="action" data-toggle="tooltip" data-placement="left"
             title="<%= 'Too late to cancel' if frozen?(date) %>"
             >
          <%= link_to commitment_path(my_commitment),
            method: :delete, class: 'btn btn-default', data: {
              disable_with: 'Taking you off the list…',
              confirm: "Do not #{uncapitalize my_commitment.display_verb} " \
                       "on #{my_commitment.date.strftime('%A, %-m/%-d/%y')}?"
            }, disabled: frozen?(date) do %>
            <% if frozen?(date) %>
              <span class="glyphicon glyphicon-lock"></span>
            <% end %>
            Take me off the list
          <% end %>
        </div>
      </div>
    </div>
  <% elsif can? :create, Commitment %>
    <div class="panel-footer hidden-print">
      <div class="actions">
        <div class="action" data-toggle="tooltip" data-placement="left"
             title="<%= frozen?(date) ? 'Too late to sign up' :
                         'This date is out of season' if unavailable?(date) %>">
          <%= button_tag type: :button, class: 'btn btn-primary',
            data: { toggle: 'modal', target: '#commitmentCreationModal' },
            disabled: unavailable?(date) do %>
            <% if unavailable?(date) %>
              <span class="glyphicon glyphicon-lock"></span>
            <% end %>
            Sign up
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'creation_modal', locals: { new_commitment: @new_commitment } if
  can? :create, Commitment %>
