<%
  highlight_date = locals[:highlight_date]
  season = locals[:season]
  user = locals.fetch(:user)
  commitments = Commitment.where(user: user).order(:date)
  commitments = commitments.where(date: season.date_range) if season

  if commitments.any? || locals[:show_none]
%>
  <div class="panel panel-default user-commitments">
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= user == current_user ? 'My' : "#{user.first_name}'s" %> Days
        <% if season %><small><%= season %></small><% end %>
        <% if can?(:commitments_ics, user) && user == current_user %>
          <%= link_to commitments_webcal_path(user),
            title: 'iCal format', id: 'ics-container',
            class: 'pull-right hidden-print', data: {
              toggle: 'tooltip', placement: 'left', container: '#ics-container'
            } do %>
            <span class="glyphicon glyphicon-calendar"></span>
          <% end %>
        <% end %>
      </h2>
    </div>

    <div class="panel-body">
      <% if commitments.any? %>
        <ul class="commitment-list">
          <% commitments.each do |commitment| %>
            <li>
              <span class="label label-<%= commitment.bootstrap_class_suffix %>"
                    ><%= commitment.display_text %></span>

              <% if highlight_date == commitment.date %>
                <mark>
                  <strong>
                    <%= link_to commitment.date.strftime('%A, %-m/%-d/%y'),
                      commitments_path(date: commitment.date) %>
                  </strong>
                </mark>
              <% else %>
                <%= link_to commitment.date.strftime('%A, %-m/%-d/%y'),
                  commitments_path(date: commitment.date) %>
              <% end %>

              <%= link_to commitment_path(commitment) do %>
                <span class="glyphicon glyphicon-info-sign pull-right hidden-xs"></span>
              <% end if can? :manage, commitment %>

              <% if can? :destroy, commitment %>
                <% if commitment.frozen? %>
                  <span class="glyphicon glyphicon-lock locked hidden-xs"></span>
                <% else %>
                  <%= link_to commitment_path(commitment), method: :delete,
                    data: {
                      confirm:
                        (user == current_user ?
                          "Do not #{uncapitalize commitment.display_verb} " :
                          "Remove #{user} from the list ") +
                        "on #{commitment.date.strftime('%A, %-m/%-d/%y')}?"
                  } do %>
                    <span class="glyphicon glyphicon-remove-circle cancel hidden-xs"
                          data-toggle="tooltip" data-placement="left"
                          <% if user == current_user %>
                            title="Take me off the list"
                          <% else %>
                            title="Remove from the list"
                          <% end %>
                    ></span>
                  <% end %>
                <% end %>
              <% end %>
              <%= render 'shared/parking_status', locals: { date: commitment.date, style: "top: 1px" } %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="none">None</p>
      <% end %>
    </div>
  </div>
<% end %>
