<div class="row date-input-container visible-xs-block hidden-print">
  <div class="col-sm-12">
    <%= date_field_tag :date, @date %>
    <%= button_tag 'Go', class: 'btn btn-default' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-push-8">
    <%= render 'index_day', locals: {
      commitments: @date_commitments,
      date: @date,
      my_commitment: @my_commitment
    } %>

    <div class="hidden-print">
      <%= render 'user_commitments', locals: {
        highlight_date: @date,
        season: Season.new,
        user: current_user
      } %>
    </div>
  </div>

  <div class="col-md-8 col-md-pull-4 hidden-xs hidden-print invisible"
       id="calendar-container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  var NSNSP = NSNSP || {};
  NSNSP.commitments = NSNSP.commitments || {
    events: <%= @events.to_json.html_safe %>,
    defaultDate: <%= @date.strftime('%Y-%m-%d').to_json.html_safe %>,
    timezone: <%= Time.zone.tzinfo.name.to_json.html_safe %>
  };
<% end %>
