<h1>Schedule <small>as of <%= Time.now.strftime('%l:%M%P') %></small></h1>
<br>
<div role="tabpanel" style="background-color: white">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"
        class="<%= 'active' if Time.now < Date.today.noon %>">
      <a href="#today" aria-controls="today" role="tab" data-toggle="tab">
        Today
      </a>
    </li>
    <li role="presentation"
        class="<%= 'active' if Time.now >= Date.today.noon %>">
      <a href="#tomorrow" aria-controls="tomorrow" role="tab" data-toggle="tab">
        Tomorrow
      </a>
    </li>
    <li role="presentation">
      <a href="#" id="datepickerTab">Other <span class="caret"></span></a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" id="today"
         class="tab-pane <%= 'active' if Time.now < Date.today.noon %>">
      <h4><%= Date.today %></h4>
    </div>
    <div role="tabpanel" id="tomorrow"
         class="tab-pane <%= 'active' if Time.now >= Date.today.noon %>">
      <h4><%= Date.tomorrow %></h4>
    </div>
    <div role="tabpanel" class="tab-pane" id="datepicker">

    </div>
  </div>

</div>
