<div class="row date-input-container">
  <div class="col-sm-12">
    <%= date_field_tag :date, @date %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-push-8">
    <%= render 'index_day', locals: {
      commitments: @date_commitments,
      date: @date,
      my_commitment: @my_commitment
    } %>
    <%= render 'index_my_days', locals: {
      commitments: @my_commitments,
      date: @date
    } %>
  </div>

  <div class="col-md-8 col-md-pull-4 invisible" id="calendar-container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>

<%= render 'index_signup_modal', locals: {
  date: @date,
  new_commitment: @new_commitment
} %>

<%= javascript_tag do %>
  var NSNSP = NSNSP || {};
  NSNSP.commitments = NSNSP.commitments || {
    events: <%= @events.to_json.html_safe %>,
    defaultDate: <%= @date.strftime('%Y-%m-%d').to_json.html_safe %>,
    timezone: <%= Time.zone.tzinfo.name.to_json.html_safe %>
  };
<% end %>
