<div class="row date-input-container">
  <div class="col-sm-12">
    <%= date_field_tag :date, @date %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-push-8">
    <div class="well day">
      <h2><%= @date.try(:strftime, '%A, %-m/%-d') %></h2>

      <% if @commitments.present? %>
        <ul>
          <% @commitments.each do |commitment| %>
            <li>
              <span class="label <%= commitment.class.bootstrap_label_class %>"
                    ><%= commitment.class.display_text %></span>
              <%= commitment.user.name %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="none">Nobody</p>
      <% end %>

    </div>
  </div>

  <div class="col-md-8 col-md-pull-4">
    <div id="calendar" class="well invisible"></div>
  </div>
</div>

<%= javascript_tag do %>
  var NSNSP = NSNSP || {};
  NSNSP.commitments = NSNSP.commitments || {
    events: <%= @events.to_json.html_safe %>,
    defaultDate: <%= @date.strftime('%Y-%m-%d').to_json.html_safe %>,
    timezone: <%= Time.zone.tzinfo.name.to_json.html_safe %>
  };
<% end %>
