<div class="well">
  <div class="page-header">
    <h1>Commitment <%= @commitment.id %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt>ID</dt>
    <dd><%= @commitment.id %></dd>

    <dt>Type</dt>
    <dd><%= @commitment.class.name.demodulize %></dd>

    <dt>Date</dt>
    <dd><%= @commitment.date %></dd>

    <dt>User</dt>
    <dd>
      <% if can? :show, @commitment.user %>
        <%= link_to @commitment.user, @commitment.user %>
      <% else %>
        <%= @commitment.user %>
      <% end %>
    </dd>

    <dt>Frozen</dt>
    <dd><%= bool_icon @commitment.frozen? %></dd>

    <dt>Created</dt>
    <dd><%= @commitment.created_at %></dd>

    <dt>Updated</dt>
    <dd><%= @commitment.updated_at %></dd>
  </dl>

  <%= link_to 'Back', commitments_path(date: @commitment.date),
    class: 'btn btn-default' %>
  <%= link_to 'Destroy', commitment_path(@commitment), method: :delete,
    data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if
      can? :destroy, @commitment %>
</div>

<div class="well">
  <%= render 'shared/versions_table', locals: { object: @commitment } %>
</div>
