<div class="well">
  <h1>Commitment</h1>

  <p>
    <strong>ID:</strong>
    <%= @commitment.id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @commitment.user %> (<%= @commitment.user.id %>)
  </p>

  <p>
    <strong>Date:</strong>
    <%= @commitment.date %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @commitment.type %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= @commitment.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= @commitment.created_at %>
  </p>

  <%= link_to 'Back', commitments_path(date: @commitment.date) %>

  <%= render 'shared/versions_table', object: @commitment %>
</div>
